* {
    margin: 0;
}

.row {
    margin: 0;
    border-bottom: 0 !important;
}

div.row.line{
    margin-top: 0px;
}

img {
    width: 29px;
    margin: 5% 10%;
}
a{
    font-size: 15px;
}
.row {
    border-bottom: 20px black solid;
}

.line {
    border-top: 3px solid white;
    margin-top: 20px;
}

p {
    margin: 0 7px;
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .linea1{
        margin: 5px;
        top:20px;
    }
    .linea2 {
        margin: 5px;
        top:25px;
    }
    .icon{
        top:10px;
    }
}