<div class="row line">
    <div class="col-12 col-lg-4 d-flex justify-content-center">
        <div class="col-8 d-flex justify-content-around icon">
            <img class="img-responsive" src="assets/Facebook_white.png" alt="" draggable="true">
            <img class="img-responsive" src="assets/Instagram_white.png" alt="">
            <img class="img-responsive" src="assets/Twitter_white.png" alt="">
        </div>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-center align-self-center linea1">
        <a href="">Terminos y condiciones </a>
        <p class="p"> | </p>
        <a href="">Privacidad </a>
        <p class="p"> | </p>
        <a href="">Ayuda</a>
    </div>
    <div class="col-12 col-lg-4 d-flex justify-content-center align-self-center linea2">
        <p>Copyright Cinema © 2019 All right reserved</p>
    </div>
</div>