* {
    margin: 0;
}

.row {
    margin: 0;
}

img {
    width: 29px;
    margin: 5% 10%;
}

.row {
    border-bottom: 20px black solid;
}

.line {
    border-top: 3px solid white;
    margin-top: 20px;
}

.p {
    margin: 0 7px;
}