<div class="cardd d-flex justify-content-center">
    <div class="col-10">
        <div class="titulo d-flex justify-content-center">
            <h3>{{plan}}</h3>
        </div>
        <div class="d-flex justify-content-center first">
            <p>{{descargas}}</p>
        </div>
        <div class="d-flex justify-content-center seg">
            <p>{{pantallas}}</p>
        </div>
        <div class="d-flex justify-content-center seg">
            <p>{{precio}}</p>
        </div>
        <div class="d-flex justify-content-center seg">
            <button [routerLink]="['/login/registrate']">Seleccionar</button>
        </div>
    </div>
</div>