<app-nav></app-nav>
<div class="row justify-content-center align-items-center contenedor">
    <h2 class="subtitulo">Registrarse</h2>
    <div class="breadcumb">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8.90909" cy="8.90909" r="8.90909" fill="#DDDDDD" />
        </svg>
        <svg  width="135" height="6" viewBox="0 0 150 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.181641" y="0.36377" width="148.909" height="5.09091" fill="#DDDDDD" />
        </svg>
        <svg class="circle" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="9.09098" cy="8.90909" r="8.90909" fill="#EFC53E" />
        </svg>
        <svg  width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="8.95000" cy="8.90909" r="8.90909" fill="#DDDDDD" />
        </svg>
    </div>
    <div class="col-10 col-lg-6" id="registrarte-box">
        <form id="login-form" class="form align-items-center justify-content-center">
            <h3 class="subtitulo"> Datos personales</h3>
            <div class="form-group" class="input">
                <label for="username" class="label">Nombre y Apellido</label>
                <input type="text" name="username" id="username" aria-placeholder="" placeholder="Nombre y Apellido"
                    class="form-control">
            </div>
            <div class="form-group" class="input">
                <label for="password" class="label">Fecha de nacimiento</label>
                <input type="text" name="date" id="date" aria-placeholder="" placeholder="DD/MM/YYYY"
                    class="form-control">
            </div>
            <h3 class="subtitulo subtitulo2"> Datos de la cuenta</h3>
            <div class="form-group" class="input">
                <label for="username" class="label">Email de la cuenta</label>
                <input type="text" name="username" id="email" aria-placeholder="" placeholder="Email de la cuenta"
                    class="form-control">
            </div>
            <div class="form-group" class="input">
                <label for="username" class="label">Confirmar email</label>
                <input type="text" name="username" id="cemail" aria-placeholder="" placeholder="Confirmar email"
                    class="form-control">
            </div>
            <div class="form-group" class="input">
                <label for="username" class="label">Contraseña(7 o mas caracteres)</label>
                <input type="password" name="username" id="pw" aria-placeholder="" placeholder="Contraseña"
                    class="form-control">
            </div>
            <div class="form-group" class="input">
                <label for="username" class="label">Confirmar contraseña</label>
                <input type="password" name="username" id="cpw" aria-placeholder=""
                    placeholder="Confirmar contraseña" class="form-control">
            </div>
            <div class="form-group" class="input">
                <button [routerLink]="['/login/pago']" class="btn" click="emit()"><span>Continuar</span></button>
            </div>
        </form>
    </div>
</div>