.card {
    width: 286px;
    height: 165px;
    background-color: black;
    margin: 10px 7px 10px 0;
}

img {
    z-index: 1;
    width: 100%;
    height: 100%;
}

.visto,
.novisto {
    display: inline-block;
    position: absolute;
    z-index: 3;
}

.visto {
    border-bottom: 3px solid #ECBE3B;
    width: 100px;
    transform: translate(0, 145px);
}

.novisto {
    border-bottom: 3px solid #8f6800;
    width: 185px;
    transform: translate(100px, 145px);
}