<div class="carrusel carousel slide" *ngFor="let rows of carruseles; let primero = first" data-ride="carousel">
    <p [ngClass]="{rojo: primero}">{{rows.titulo}}....{{primero}}</p>
    <div *ngFor="let url of rows.urls" class="cards">
        <app-card [urls]="url" [terminar]="rows.seguirviendo"></app-card>
    </div>
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row " alt="First slide">
                <div class="col-3">
                    <img class="d-block w-100" src="assets/films/dark.jpg">
                </div>
                <div class="col-3">

                    <img class="d-block w-100" src="assets/films/vikings.jpg">
                </div>
                <div class="col-3">
                    <img class="d-block w-100" src="assets/films/Downton.jpg">
                </div>
                <div class="col-3">

                    <img class="d-block w-100" src="assets/films/vikings.jpg">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row" alt="Second slide">
                <div class="col-3">

                    <img class="d-block w-100" src="assets/films/vikings.jpg">
                </div>
                <div class="col-3">
                    <img class="d-block w-100" src="assets/films/dark.jpg">
                </div>
                <div class="col-3">

                    <img class="d-block w-100" src="assets/films/vikings.jpg">
                </div>
                <div class="col-3">
                    <img class="d-block w-100" src="assets/films/Downton.jpg">
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>