* {
    padding: 0;
}

p {
    font-size: 16px;
    margin: 0;
}

.scroll {
    /* scroll-behavior: smooth; */
    /* overflow-x: hidden; */
    width: 100%;
    overflow-x: scroll;
    overflow: auto;
    white-space: nowrap;
}

.films {
    display: inline-block;
    width: 15%;
}

@media(max-width: 1000px) {
    p {
        font-size: 14px;
    }
    div.carrusel {
        margin: 0 0 0 5px;
    }
    .slides {
        overflow-x: scroll;
        scroll-margin-left: 50%;
    }
}