.cards {
    display: inline-block;
}

.carrusel {
    position: relative;
    overflow-x: scroll;
    overflow: hidden;
    white-space: pre;
    margin: 0 0 30px 54px
}

p {
    font-size: 16px;
    margin: 0;
}


/* width */

::-webkit-scrollbar {
    width: 20px;
    height: 10px !important;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #ECBE3B;
    border-radius: 5px;
}

@media(max-width: 1000px) {
    p {
        font-size: 14px;
    }
    div.carrusel {
        margin: 0 0 0 5px;
    }
}

img {
    height: 200px;
    width: 200px;
}

.div {
    display: inline;
}

.rojo {
    color: red !important;
}