h2 {
    font-size: 26px;
    margin: 0;
    font-family: Martel Sans;
    font-style: normal;
    text-shadow: 1px 1px 1px black, -1px -2px 2px black, 5px 5px 5px black;
    padding-bottom: 0.5%;
}

div#carouselExampleControls {
    left: -27px !important;
    overflow: hidden;
    margin-bottom: 1%;
}

div#carouselExampleControls2 {
    left: -27px !important;
    margin-top: 1%;
}

.row {
    margin: 0 !important;
}

h2#h2 {
    margin-left: 1% !important;
    left: 10px;
    top: -50px;
    position: absolute;
}

h2#h2-1 {
    margin-left: 1% !important;
    left: 10px;
    top: 20px;
    position: absolute;
}

h2#h2-2 {
    left: 14px !important;
    margin-top: 2%;
    margin-left: 9px;
}

@media (max-width: 600px) {
    h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 14.5px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: #E9E9E9;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    }
    div.carrusel {
        margin: 0 0 0 5px;
    }
    div#carouselExampleControls {
        left: -8px !important;
        top: -20px;
    }
    h2#h2 {
        left: -15px !important;
    }
    .carousel-control-prev {
        visibility: hidden;
    }
    .carousel-control-next {
        visibility: hidden;
    }
    div#carouselExampleControls1.carousel.slide.pointer-event {
        margin-top: -50px;
        top: 70px;
        left: -5px !important;
    }
    h2#h2-1 {
        margin-top: -30px;
        left: -15px !important;
    }
    h2#h2-2 {
        position: absolute;
        top: 60px;
        left: -10px;
    }
    div#carouselExampleControls2.carousel.slide.pointer-event {
        top: 95px;
        margin-bottom: 15%;
        left: -5px !important;
    }
}


/* span.carousel-control-prev-icon{
    position: absolute;
    right: 125px;
}
span.carousel-control-next-icon{
    position: absolute;
    left: 125px;
} */

@media (min-width: 600px) and (max-width: 1000px) {
    h2#h2,
    h2#h2-1 {
        left: 45px;
        font-size: 22px;
        margin-top: 5px;
    }
    #carouselExampleControls,
    #carouselExampleControls1 {
        left: 15px !important;
    }
    .carousel-control-prev {
        visibility: hidden;
    }
    .carousel-control-next {
        visibility: hidden;
    }
    div#carouselExampleControls1.carousel.slide.pointer-event {
        margin-top: -5px;
    }
    div#carouselExampleControls2.carousel.slide.pointer-event {
        top: 95px;
        margin-bottom: 15%;
        left: 15px;
    }
    h2#h2-2 {
        position: absolute;
        top: 60px;
        left: 45px;
    }
}

@media (min-width: 1000px) and (max-width: 1500px) {
    #carouselExampleControls,
    #carouselExampleControls1 {
        left: 5px !important;
    }
}

div#carouselExampleControls1 {
    top: 70px;
    margin-bottom: 5%;
    left: -27px !important;
}