<p>{{carrusel.titulo}}</p>
<carousel [itemsPerSlide]="1" [singleSlideOffset]="false" [noWrap]="!noWrap" [interval]="false" [startFromIndex]="5" (slideRangeChange)="onSlideRangeChange($event)">
    <slide *ngFor="let slide of carrusel.urls">
        <div class="row d-flex justify-content-center">
            <div class="col-10 d-flex justify-content-center">
                <div class="col-6 col-lg-3 d-flex justify-content-center" *ngFor="let slides of slide">
                    <app-card [urls]="slides" [terminar]="carrusel.seguirviendo"></app-card>
                </div>
            </div>
        </div>
    </slide>
</carousel>