* {
    margin: 0;
    padding: 0;
    opacity: 1;
}

.cont {
    margin-top: 250px;
}

.subtitulo { 
    margin-bottom: 10px;
    font-size: 1.75rem;
    font-weight: normal;
    position: absolute;
    top:150px;
}

.cards {
    display: inline-block;
    margin: 0 20px;
}

.circle{
    position: absolute;
    left: 77px;
    top: 6px;
}
.breadcumb{
    position: absolute;
    top: 210px;
}

