.fondo {
    background-image: url("../../assets/cinemawall.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    font-weight: 650;
}
.logo{
    height: 140px;
    margin-top: 1%;
}
/* .inciarsesion {
    position: absolute;
    width: 459px;
    height: 438px;
    left: 410px;
    top: 237px;
} */
.card-gris {
    position: absolute;
    width: 459px;
    height: 407px;
    background: rgb(39, 31, 31);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
input{
    height: 50px;
}
app-boton{
    height: 50px;
}
#login .container #login-row #login-column #login-box {
    margin-top: 50px;
    max-width: 600px;
    height: 380px;
    border: 1px solid #9C9C9C;
    background-color: #dddddd;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 30px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -85px;
  }
  ul li{
      display: inline-block;
      margin-right: 30px;
      color: white;
  }
  ul li a{
      color: orange;
      text-decoration: underline;
  }