.carrusel {
    transform: translate(0, -70px) !important;
    z-index: 0;
    margin-top: 23px;
    padding: 0;
    border: 0;
    margin-left: -24px;
}

@media(max-width: 600px) {
    .carrusel {
        margin-top: 60px;
        margin-left: 10px;
        transform: translate(0, -40px) !important;
    }
}