nav {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    line-height: 29px;
}

.icon,
.footernav {
    display: none;
}

.userinfo {
    display: none;
}

.closebtn {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav li a:hover {
    color: #f1f1f1;
}

.menuicon {
    position: absolute;
    visibility: hidden;
}

.dropdown-menu {
    background: rgba(0, 0, 0, 0.7);
}

.dropdown-item,
.dropdown-header {
    color: white;
}

.logo {
    margin: 0 3% 0 0;
    height: 49px;
    width: 107px;
}

ul.navbar-nav.ml-auto.text-right {
    margin-left: 0 !important;
}

.userimg {
    max-width: 100px;
    max-height: 50px;
    border: 2px solid #DAAD29;
    border-radius: 30px;
}

.search {
    position: absolute;
    right: 100px;
    top: 20px;
}

.userdropdown {
    left: 10px;
}

ul li {
    /* min-width: 150px; */
    margin: 0 5%;
    font-family: Martel Sans;
    font-style: normal;
    /* font-weight: bold; */
}

#iniciarsesion a {
    color: #EFC23E;
    width: 120px;
    height: 50px;
    float: right !important;
}

.lista {
    width: 170%;
}

.row {
    height: 100%;
    width: 100%;
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 16%;
    width: 90%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closesearch {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closesearch:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: transparent;
    border-bottom: 1px solid white;
}

.overlay svg:hover,
.search {
    cursor: pointer;
}

.overlay-content svg {
    position: absolute;
    top: 10px;
    right: 120px;
    width: 50px;
    height: 50px;
}

.filtros {
    position: absolute;
    width: 100%;
    top: 100px;
    margin-left: -260px !important;
    list-style: none;
    text-align: center;
}

.filtros li {
    color: white;
    display: inline-block;
    background-color: rgb(90, 90, 90);
    padding: 10px 15px;
    margin: 0px 20px;
    cursor: pointer;
}

.peliculas {
    position: absolute;
    top: 200px;
    left: -100px;
    list-style: none;
    width: 100%;
    height: 100%;
}

.peliculas li {
    display: inline-block;
    width: 268px;
    height: 150px;
}

@media (max-width: 600px) {
    .footernav {
        display: block;
        text-align: center;
        position: absolute;
        width: 100%;
        top: 550px;
    }
    .icon {
        display: block;
        margin-left: -9px !important;
    }
    #listaicon {
        margin-right: 11px !important;
    }
    .menuicon {
        visibility: visible;
        background: none !important;
    }
    .closebtn {
        visibility: visible;
    }
    .sidenav {
        height: 100%;
        /* 100% Full-height */
        width: 200px;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        /* Stay at the top */
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
        /* 0.5 second transition effect to slide in the sidenav */
    }
    .logo {
        margin-left: 25%;
    }
    .logo-out {
        margin: 0 !important;
        left: 10px;
    }
    li.userdropdown {
        left: 0px;
        position: absolute;
        top: 0px !important;
    }
    .userimg {
        max-width: 122px;
        max-height: 150px;
        height: 122px;
        width: 122px;
    }
    .search {
        top: 17px;
        right: 20px;
    }
    .content {
        margin-left: 20px;
        margin-top: 85px !important;
    }
    .inicio {
        visibility: hidden;
    }
    #dropdownmenu h6 {
        position: absolute;
        top: -160px;
        left: -5px;
    }
    #dropdownmenu {
        display: none;
        position: absolute;
        top: 300px;
        border-bottom: 1px solid white;
    }
    .userinfo ul li {
        width: 150px;
        height: 30;
        list-style: none;
    }
    li svg {
        margin-left: -60px;
        margin-right: 19px !important;
    }
    li svg.notificacion {
        margin-right: 14px !important;
    }
    h6 {
        top: -180px;
        width: 100%;
        border-bottom: 1px solid;
        position: absolute;
        /* content */
        font-family: Martel Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 29px;
        color: #FFFFFF;
    }
    .userinfo {
        top: 330px;
        left: 10px;
        padding-top: 14px;
        padding-bottom: 14px;
        width: 90%;
        position: absolute;
        display: block;
        border-top: 1px solid white;
        border-bottom: 1px solid #FFFFFF;
    }
    .userinfo a {
        margin-top: 5px;
    }
    li a svg.svgnav {
        display: none;
    }
}

@media (min-width: 1200px) and (max-width:2000px) {
    #iniciarsesion a {
        position: absolute;
        left: 90% !important;
        top: 15px;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    #iniciarsesion a {
        position: absolute;
        left: 85% !important;
        top: 15px;
    }
}