<nav class="navbar navbar-expand-lg nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/Menu.png" alt="">
            </button>
    <a class="logo" [routerLink]="['/inicio']"><img class="logo  d-flex justify-self-center" src="assets/logo.png" alt=""></a>

    <div class="collapse navbar-collapse nav" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link d-flex align-self-center" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link d-flex align-self-center" [routerLink]="['/peliculas']">Peliculas<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link d-flex align-self-center" [routerLink]="['/series']">Series <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link d-flex align-self-center" [routerLink]="['/infantil']">Infantil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active lista">
                <a class="nav-link  d-flex align-self-center lista" [routerLink]="['/milista']">Mi lista <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>