* {
    margin: 0;
}

form {
    font-weight: 650;
}

.logo {
    height: 140px;
    margin-top: 1%;
}

.card-gris {
    position: absolute;
    width: 459px;
    height: 407px;
    background: rgb(39, 31, 31);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

input {
    height: 50px;
    width: 100%;
}

#login-box {
    height: 380px;
    border: 1px solid #9C9C9C;
    background-color: #dddddd;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}

.label,
h3.titulo {
    color: black;
}

.titulo {
    margin-bottom: 10px;
}

.input {
    margin: 10px 0;
}

ul li {
    display: inline-block;
    margin-right: 30px;
    color: white;
}

ul li a {
    color: orange;
    text-decoration: underline;
}

div.col-10 form.form,
div.row.d-flex.regist {
    margin: 20px 0 !important;
}