* {
    margin: 0;
}
h3.titulo{
    font-weight: 700;
}
form {
    font-weight: 650;
    
}

.logo {
    height: 140px;
    margin-top: 50px;
}

div.input{
    margin-top: 20px;
}

input,
button.btn {
    height: 50px;
    border-radius: 0px;
}
button{
    width: 100%;
}

ul.register{
    margin-bottom: 55px;

}

#login-box {
    padding: 50px;
    padding-top: 20px;
    height: 380px;
    border: 1px solid #9C9C9C;
    background-color: #dddddd;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 80px;
}

.label,
h3.titulo {
    color: black;
}

.titulo {
    margin-bottom: 10px;
}

.input {
    margin: 10px 0;

}

ul li {
    display: inline-block;
    margin-right: 30px;
    color: white;
}

ul li a {
    color: orange;
    text-decoration: underline;
}

div.col-10 form.form,
div.row.d-flex.regist {
    margin: 20px 0 !important;
}

