<div class="row d-flex justify-content-center">
  <div class="col-12 col-lg-12">
   <div class="d-flex justify-content-center  ">
      <h4 >
          Terminos y condiciones
        </h4>
   </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil laboriosam
      fugit hic exercitationem, ipsa praesentium dolor cupiditate, nisi nostrum
      aspernatur, debitis ex! Corrupti, commodi enim? Voluptatum repellat ex
      mollitia corporis. Lorem, ipsum dolor sit amet consectetur adipisicing
      elit. Aliquam, ad consequatur nulla ratione beatae doloribus, debitis illo
      pariatur quasi omnis inventore suscipit, accusamus numquam maiores
      blanditiis? Necessitatibus nesciunt laborum ipsa?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quidem
      vitae aliquam voluptate vel! Nobis, explicabo sit expedita neque quaerat
      architecto quibusdam magnam ex placeat magni, facilis voluptate ea autem.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ullam
      placeat sequi quisquam quasi omnis dolores illo, a cum explicabo tempore
      optio nam nihil hic, dolore, totam earum ea libero.
    </p>
    <h5>
      Politicas de privacidad
    </h5>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia fugit ut
      possimus, expedita reprehenderit non voluptates laudantium? Maiores
      quibusdam, delectus cum sapiente tempora ea eius incidunt sit, quae,
      provident vitae. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Sit quibusdam ullam harum corrupti cumque accusamus voluptatem fugit
      aspernatur tempora minus consequatur vitae omnis impedit, est numquam
      illum? Laboriosam, dolorem tempore. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Molestias nulla, voluptatibus esse delectus dignissimos
      cum tempora, provident accusantium beatae, inventore accusamus minima
      voluptas veniam quae voluptatem quaerat cupiditate doloremque debitis?
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic eum debitis,
      dolorem in voluptates quia deleniti pariatur, obcaecati, veniam saepe
      vitae incidunt earum molestias repudiandae eos ut sequi modi magni.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum,
      obcaecati? Tenetur fugiat, recusandae nisi impedit enim aperiam corrupti
      expedita ea aliquam esse sit fuga culpa laboriosam quibusdam soluta iste
      tempore.
    </p>
  </div>
</div>
