html,
body {
    background-color: black;
    z-index: -1000;
}

button {
    background: #EFC23E;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 199px;
    height: 60px;
    border-radius: 2.5px;
    color: black !important;
}

button span {
    color: black !important;
}

button:hover {
    background: #DAAD29;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

p,
span,
h1,
h2,
h3,
h4,
h5,
button,
input,
label,
a {
    font-family: Martel Sans !important;
    color: white;
}

a:hover {
    color: #DAAD29 !important;
}