html {
    background: black;
    z-index: -1000;
}

body {
    background: linear-gradient(180deg, #380F72 0%, #000000 90.66%);
    z-index: -999;
}

button {
    background: #EFC23E !important;
    border: #EFC23E;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
    color: black !important;
    z-index: 3;
}

.no-indicators .carousel-indicators {
    display: none;
}

.no-indicators .carousel-control{
    width: 10%;
}

button span {
    color: black !important;
}

button:hover {
    background: #DAAD29 !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

p,
span,
h1,
h2,
h3,
h4,
h5,
button,
input,
label,
a {
    font-family: Martel Sans !important;
    color: white;
}

a:hover {
    color: #DAAD29 !important;
}