<div class="carro flyerr">
    <div class="row video">
    </div>
    <div class="img-container">

        <div class="descripcion">
            <h1>VIERNES DE ESTRENO</h1>
            <h2>Peaky Blinders</h2>
            <p>1919. Inglaterra. Thomas Shelby lidera una conocida banda de Birmingham que avanza con ferocidad por el bajo mundo.</p>
            <div class="botones">
                <button (click)="reproducir()" class="reproducir" type="button" data-toggle="modal" data-target="#exampleModalCenter">
                    <svg class="playicon" width="49" height="49" viewBox="0 0 49 49" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d)">
                            <path
                                d="M35.1346 19.9354L20.1013 9.68544C19.8915 9.54331 19.6209 9.52759 19.3967 9.64581C19.1733 9.76403 19.0332 9.99636 19.0332 10.2499V30.7499C19.0332 31.0034 19.1733 31.2357 19.3974 31.3539C19.4972 31.4072 19.6072 31.4332 19.7165 31.4332C19.8512 31.4332 19.9858 31.3929 20.1013 31.3143L35.1346 21.0643C35.3211 20.9372 35.4332 20.7261 35.4332 20.4999C35.4332 20.2737 35.3211 20.0625 35.1346 19.9354ZM20.3999 29.4563V11.5434L33.537 20.4999L20.3999 29.4563Z"
                                fill="black" />
                            <path
                                d="M24.5 0C13.1963 0 4 9.1963 4 20.5C4 31.8037 13.1963 41 24.5 41C35.8037 41 45 31.8037 45 20.5C45 9.1963 35.8037 0 24.5 0ZM24.5 39.6333C13.95 39.6333 5.36667 31.05 5.36667 20.5C5.36667 9.95002 13.95 1.36667 24.5 1.36667C35.05 1.36667 43.6333 9.95002 43.6333 20.5C43.6333 31.05 35.05 39.6333 24.5 39.6333Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0" y="0" width="49" height="49" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="2" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                            </filter>
                        </defs>
                    </svg>

                    <span id="reproducir">REPRODUCIR</span>
                </button>
                <button class="añadir">
                    <svg class="listicon" width="55" height="41" viewBox="0 0 55 41" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d)">
                            <path
                                d="M4 23.4301H22.8V18.744H4V23.4301ZM41.6 18.744V9.37202H36.9V18.744H27.5V23.4301H36.9V32.8021H41.6V23.4301H51V18.744H41.6ZM32.2 0H4V4.68601H32.2V0ZM32.2 9.37202H4V14.058H32.2V9.37202Z"
                                fill="black" />
                        </g>
                        <defs>
                            <filter id="filter0_d" x="0" y="0" width="55" height="40.8021" filterUnits="userSpaceOnUse"
                                color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                <feColorMatrix in="SourceAlpha" type="matrix"
                                    values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                                <feOffset dy="4" />
                                <feGaussianBlur stdDeviation="2" />
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                            </filter>
                        </defs>
                    </svg>

                    <span id="añadir">AÑADIR</span>
                </button>
            </div>
        </div>
    </div>

</div>