<div class="row d-flex justify-content-center">
  <div class="col-10 col-lg-6">
      <div class="row">
          <div class="col-8 d-flex align-content-center">
              <p class="align-self-center">Modo nocturno</p>
          </div>
          <div class="col-4 d-flex justify-content-center">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="uno" autocomplete="off" checked> On
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="dos" autocomplete="off"> Off
                  </label>
                </div>
          </div>

        </div>
        <div class="row">

          <div class="col-8 d-flex align-content-center">
            <p class="align-self-center">Daltonico</p>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="options" id="uno" autocomplete="off" checked> On
              </label>
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="dos" autocomplete="off"> Off
              </label>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">

            <div class="col-8 d-flex align-content-center">
              <p class="align-self-center">Dislexia</p>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="uno" autocomplete="off" checked> On
                </label>
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="dos" autocomplete="off"> Off
                </label>
              </div>
            </div>
          </div><div class="row">

              <div class="col-8 d-flex align-content-center">
                <p class="align-self-center">Parkinson</p>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="uno" autocomplete="off" checked> On
                  </label>
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="dos" autocomplete="off"> Off
                  </label>
                </div>
              </div>
            </div>
  </div>
</div>
