<div class="row d-flex justify-content-center">
  <div class="col-10 col-lg-6">
      <div class="row">
          <div class="col-8 d-flex align-content-center">
              <h4 class="align-self-center">Modo nocturno</h4>
          </div>
          <div class="col-4 d-flex justify-content-center">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="uno" autocomplete="off" checked> On
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="dos" autocomplete="off"> Off
                  </label>
                </div>
          </div>

        </div>
        <div class="row">

          <div class="col-8 d-flex align-content-center">
            <h4 class="align-self-center">Daltonismo</h4>
          </div>
          <div class="col-4 d-flex justify-content-center">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary"data-toggle="collapse" data-target="#daltonismo" aria-expanded="false" aria-controls="daltonismo">
                <input type="radio" name="options" id="uno" autocomplete="off" checked> On
              </label>
              <label class="btn btn-secondary active">
                <input type="radio" name="options" id="dos" autocomplete="off"> Off
              </label>
            </div>
          </div>
        </div>
          <div class="collapse" id="daltonismo">
            <div class="card card-body">
              <div class="row">
                  <div class="col-8 d-flex align-content-center">
                      <h5 class="align-self-center">Deuteranopia</h5>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary"data-toggle="collapse" data-target="#daltonismo" aria-expanded="false" aria-controls="daltonismo">
                          <input type="radio" name="options" id="uno" autocomplete="off" checked> On
                        </label>
                        <label class="btn btn-secondary active">
                          <input type="radio" name="options" id="dos" autocomplete="off"> Off
                        </label>
                      </div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-8 d-flex align-content-center">
                    <h5 class="align-self-center">Protanopia</h5>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary"data-toggle="collapse" data-target="#daltonismo" aria-expanded="false" aria-controls="daltonismo">
                          <input type="radio" name="options" id="uno" autocomplete="off" checked> On
                        </label>
                        <label class="btn btn-secondary active">
                          <input type="radio" name="options" id="dos" autocomplete="off"> Off
                        </label>
                      </div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-8 d-flex align-content-center">
                    <h5 class="align-self-center">Tritanopia</h5>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                      <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-secondary"data-toggle="collapse" data-target="#daltonismo" aria-expanded="false" aria-controls="daltonismo">
                          <input type="radio" name="options" id="uno" autocomplete="off" checked> On
                        </label>
                        <label class="btn btn-secondary active">
                          <input type="radio" name="options" id="dos" autocomplete="off"> Off
                        </label>
                      </div>
                    </div>
              </div>





            </div>
          </div>
        <div class="row d-flex justify-content-center">

            <div class="col-8 d-flex align-content-center">
              <h4 class="align-self-center">Dislexia</h4>
            </div>
            <div class="col-4 d-flex justify-content-center">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                  <input type="radio" name="options" id="uno" autocomplete="off" checked> On
                </label>
                <label class="btn btn-secondary active">
                  <input type="radio" name="options" id="dos" autocomplete="off"> Off
                </label>
              </div>
            </div>
          </div><div class="row">

              <div class="col-8 d-flex align-content-center">
                <h4 class="align-self-center">Parkinson</h4>
              </div>
              <div class="col-4 d-flex justify-content-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary">
                    <input type="radio" name="options" id="uno" autocomplete="off" checked> On
                  </label>
                  <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="dos" autocomplete="off"> Off
                  </label>
                </div>
              </div>
            </div>
  </div>
</div>
